body{
    background-color:darkgreen;
}
.jumbotron{
    text-align:center;
    background-color:greenyellow;
    color:darkgreen;
}
.welcome_text-header{
    text-align:center;
    color:greenyellow;
}
.btn-default{
    background-color:greenyellow;
    color:darkgreen;
    border-color:greenyellow;
}
.btn-default:hover{
    background-color:green;
    border-color:green;
    color:greenyellow;
}
canvas{
    border-style:solid;
    border-color:greenyellow;
}
#canvas_context{
    color:greenyellow;
    font-size:25px;
}