body{
    background-color:darkgreen;
}
.jumbotron{
    text-align:center;
    background-color:greenyellow;
    color:darkgreen;
}
.welcome_text-header{
    text-align:center;
    color:greenyellow;
}